<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Nav Team
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>Components</h1>
      <p><strong>There are two main types of components that have been created to improve the information architecture on the NHS website.</strong></p>
      <p>They are linking components and navigation components.</p>
      <h2>Linking components</h2>
      <ul class="nhsuk-hub-key-links beta-hub-key-links"> 
        <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
          <a href="/components/linking/card-with-arrow">
            Card with arrow
          </a>
        </li>

        <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
          <a href="/components/linking/key-links">
            Key links
          </a>
        </li>
      
        <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
          <a href="/components/linking/top-tasks">
            Top tasks
          </a>
        </li>
    </ul>
    
    <h2>Navigation components</h2>
    <ul class="nhsuk-hub-key-links beta-hub-key-links"> 
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="/components/navigation/breadcrumbs">
          Breadcrumbs
        </a>
      </li>

      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="/components/navigation/sideways-navigation">
          Sideways navigation
        </a>
      </li>
    </ul>
    </div>
  </div>
{% endblock %}
