<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Nav Team
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     
    <div class="nhsuk-u-reading-width">
      <h1>NHS services</h1>
    </div>

    <article>
      <h2 class="nhsuk-u-visually-hidden">Top tasks in NHS services</h2>

      <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-0">

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content">
              <a class="nhsuk-card__link nhsuk-heading-xs" href="javascript:void(0);">
                Book or manage a coronavirus (COVID-19) vaccination
              </a>
            </div>
          </div>
        </li>


        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content">
              <a class="nhsuk-card__link nhsuk-heading-xs" href="javascript:void(0);">
                Order a repeat prescription
              </a>
            </div>
          </div>
        </li>

      </ul>

      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="javascript:void(0);">
                  GPs
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>About GP services, including how to find and register with a local GP and how to book an appointment</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="javascript:void(0);">
                  Prescriptions and pharmacies
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Order repeat prescriptions, find out about prescription charges and how pharmacists can help you with medicines and medical advice</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="javascript:void(0);">
                  Hospitals
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>About NHS hospitals, booking and changing appointments with the NHS e-Referral Service and going into hospital</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="javascript:void(0);">
                  Mental health services
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Find out how to access NHS mental health services and where to get urgent help</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="javascript:void(0);">
                  Visiting or moving to England
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Advice about using the NHS if you're planning to visit or move to England</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

      </ul>
  

    </div>
  </div>
{% endblock %}
