<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Nav Team
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>Sideways navigation</h1>
      
      <p><strong>The sideways navigation component allows users to navigate through a number of related content pages that sit beneath a sub-topic hub.</strong></p>
      <h2>Example</h2>
      <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">
          More in<a href="javascript:void(0);"> GPs</a>
          
        </h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">
                <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current">
                  How to register with a GP surgery
                </li>
              
            
              
                <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="javascript:void(0);">
                    Registering with a GP surgery outside the area you live
                  </a>
                </li>
              
            
              
                <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="javascript:void(0);">
                    GP appointments and bookings
                  </a>
                </li>
              
            
              
                <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="javascript:void(0);">
                    Using an online form to contact your GP surgery
                  </a>
                </li>
              
            
              
                <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="javascript:void(0);">
                    Video consultations
                  </a>
                </li>
              
            
              
                <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="javascript:void(0);">
                    What to ask your doctor
                  </a>
                </li>
              
            
              
                <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="javascript:void(0);">
                    Using online services
                  </a>
                </li>
              
            
              
                <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="javascript:void(0);">
                    Online health and prescription services
                  </a>
                </li>
              
            
          </ul>
        </nav>
      </div>
      <br>
  

      <h2>When to use the sideways navigation</h2>
      <p>Users should be able to navigate sideways through children pages of a sub-topic hub.</p>
      <p>For example, in the case of the Coronavirus (COVID-19) main topic hub on NHS.UK, Vaccinations is a sub-topic hub that has multiple child content pages. These content pages that sit beneath the Vaccinations sub-topic, have a sideways navigation component at the bottom of each page.</p>
      <p>They should not be used on main hub pages, or on content pages that are not grouped under a single subject (a sub-topic hub).</p>

      <h2>How to use the sideways navigation</h2>
      <p>The sideways navigation should be placed at the bottom of a content page, after the date component, but before the footer. This allows users to read the content before giving them the ability to move on.</p>
      <p>The component should contain an H2 heading of "More in ...". For the example of the Coronavirus Vaccinations sub-topic, the H2 heading would say "More in Vaccinations".</p>
      <p>The heading should be followed by a list of hyperlinks that take the user to each of the other child pages within the sub-topic.</p>
      <p>For the page the user is currently viewing, the hyperlink should be removed to make the text the same colour as the body text on the page. A black pipe should be used to the left-hand side of this text as way of emphasising where a user currently is.</p>
      <p>Once a user has viewed a page using the sideways navigation, the link should be styled as a visited link.</p>

      <h2>Benefits of the sideways navigation</h2>
      <h3>Research</h3>
      <p>During testing, NHS.UK's Nav Team found users were confident using the sideways navigation. It allowed them to move sideways through related content, without interrupting their ability to evaluate if they were in the correct place for the information they needed.</p>
      <p>This component supports longer journeys on NHS.UK.</p>

      <h2>Have you used this component?</h2>
      <p>If so, please share your research findings and let us know how it has worked for you. This will help us improve it for everyone.</p>
      <p>Before you start, you will need a GitHub account. It's an open forum where we collect feedback.</p>

    </div>
  </div>
{% endblock %}
