<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Nav Team
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>Card with arrow</h1>
      <p><strong>The card with arrow component breaks down larger topics into smaller topics, and tells users how to get towards the specific content they need.</strong></p>
      
      <h2>Example of the card with arrow</h2>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="beta-hub-main-topic nhsuk-grid-column-two-thirds nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/page-templates/index">
                  Sub-topic title
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Description of the sub-topic, such as what it is and examples of what information it includes</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <h2>Why do we need the card with arrow component?</h2>
      <p>In creating a good structure on a huge website like NHS.UK, you end up with big topic areas such as 'Pregnancy', or 'Cancer', 'Diabetes'. Pages within these big topic areas are referred to as sub-topics, meaning they're a subset of the main topic area.</p> 
      <p>We needed a way to visually indicate the breadth and depth of content within each sub-topic that was included under a main topic hub.</p>
      <p>The proposed 'canonical link' component shares similar attributes to the promo link as it:</p>
      <ul>
        <li>is a card that acts as a link</li>
        <li>having underlined, bold text (heading) and a summary sentence</li>
      </ul>
      <p>Due to main topic hubs containing other types of links, such as top tasks, we included the arrow in the promo box to give extra affordance to the individual sections of content .</p>

      <h3>Code example</h3>

      <h2>When to use the card with arrow</h2>
      <p>The component should be used on Main topic hubs, as a way to visually show the hierarchy of the new hub structures. It should not be used on sub-topic hubs, or children of the main topic hub.</p>
      <p>It should represent the key sub-topics within a main topic such as Type 1 and Type 2 diabetes within a main topic hub of Diabetes.</p>

      <h2>How to use the card with arrow</h2>
      <p>Each card should represent an individual sub-topic within a topic.</p>
      <p>A heading should be assigned to each card that is blue, bold in style and underlined to show that the box is clickable.</p>
      <p>A short summary of the content within that sub-topic should be included underneath the card's heading.</p>
      <p>The arrow element should always sit to the right of the summary text, pointing towards the right. This is to show the direction of travel the user is taking through the content, from less specific down to more specific.</p>
      <h3>Accessibility</h3>
      <p>To prevent small target areas, the entire card should be clickable meaning the whole component must be a link.</p>
      
      <h2>Benefits of using the card with arrow</h2>
      <h3>Research</h3>
      <p>The NHS.UK Information Architecture team have seen that the card with arrow:</p>
      <ul>
        <li>enables users to scan hub pages to see what was available</li>
        <li>is useful in reminding users what else is in a hub - some users were able to go back to hub pages and re-scan for things they were looking for</li>
      </ul>
      <p>The card with an arrow links have since gone live on the <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">Coronavirus hub </a> alongside top tasks and external links. From looking at analytics - we've found the visual hierarchy of links working well; users are flowing through the structure, from the main topic hub to the lowest content page.</p>
      <p>We've also seen an even spread of clicks and visits to sub-topics, suggesting that the card with arrow style is not too prominent, and therefore not overshadowing top tasks or external links at the bottom of the page.</p>

      <h2>Have you used this component?</h2>
      <p>If so, please share your research findings and let us know how it has worked for you. This will help us improve it for everyone.</p>
      <p>Before you start, you will need a GitHub account. It's an open forum where we collect feedback.</p>


      

    </div>
  </div>
{% endblock %}
