<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Nav Team
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>Key links</h1>
      
      <p><strong>The key links list is a navigation component that is used on a sub-topic hub to display all the related content pages within that sub-topic.</strong></p>
      <p>image</p>
      <h3>code example</h3>

      <h2>When to use the key links</h2>
      <p>Key links should be used on sub-topic hub pages, but should <b>not</b> be used on the main topic hub pages.</p>
      <p>Key links should be used when there is more than one link within the sub-topic. If only one link exists, then the main topic hub should link directly to that content page, rather than adding an additional step.</p>
      
      <h2>How to use the key links</h2>
      <p>The links should sit under the H1 and any lede text.</p>
      <p>There should be a link to every content child page within the sub-topic hub.</p>
      <p>Links should be styled consistently with other hyperlinks on the site - they should be blue and underlined.</p>
      <p>Once a user has viewed a page using the key links, the link should be styled as a visited link.</p>

      <h2>Benefits of the key links</h2>
      <h3>Research</h3>
      <p>During testing, NHS.UK's Nav Team team found that the key links component gave users an overview of all the content they would be able to find within each sub-topic, helping them to evaluate where they were in the site, and if it was the right place to meet their needs.</p>

      <h2>Have you used this component?</h2>
      <p>If so, please share your research findings and let us know how it has worked for you. This will help us improve it for everyone.</p>
      <p>Before you start, you will need a GitHub account. It's an open forum where we collect feedback.</p>

    </div>
  </div>
{% endblock %}
