<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Nav Team
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
          <a href="/index" class="nhsuk-breadcrumb__link">Home</a>
        </li>
      <li class="nhsuk-breadcrumb__item">
          <a href="/components/index" class="nhsuk-breadcrumb__link">Components</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>Top tasks</h1>

      <p><strong>Top tasks allow a user quick, direct access to information or services that are otherwise buried deeper in content.</strong></p>
      
      <h2>Example of top tasks</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-0">
      
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <div class="nhsuk-card nhsuk-card--clickable ">
    <div class="nhsuk-card__content">
      <a class="nhsuk-card__link nhsuk-heading-xs" href="javascript:void(0);">
        Get a COVID-19 vaccine
      </a>
    </div>
  </div>
</li>
      
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <div class="nhsuk-card nhsuk-card--clickable ">
    <div class="nhsuk-card__content">
      <a class="nhsuk-card__link nhsuk-heading-xs" href="javascript:void(0);">
        Changes to testing
      </a>
    </div>
  </div>
</li>
      
    </ul>

      <h2>When to use top tasks</h2>
      <p>Top tasks should be used on main topic hub pages. We suggest having no more than 3 top tasks on one main topic hub, but the fewer the better.</p>
      <p>They are to be used for shortcuts to content within the topic area that is popular with users or meets a business need.</p>

      <h2>How to use top tasks</h2>
      <p>The top tasks should be placed below the H1 and any lede text on a main topic hub page, but above the cards with arrows. This means users will be quickly routed to the popular, or key pages, before seeing other sub topic areas within the hub.</p>
      <p>The top task is essentially the small promo card component.</p>
      <p>The link in the top task should mirror the heading (H1) of the page it is taking the user to.</p>
      <p>The top tasks should be organised in the order of popularity or importance.</p>
      <p>They should not direct users to a sub-topic hub or a page just one level down from a main topic hub. A card with arrow component may be more appropriate in these scenarios.</p>
      
      <h2>Benefits of top tasks</h2>
      <h3>Research</h3>
      <p>During testing, NHS.UK's Nav Team found users benefitted from the top task component as it preempted their needs by displaying access to key information that was buried deeper within the hub.</p>
      <p>Users felt they were useful if they did not have the time to go on longer journeys, and needed help or information quickly.</p>
      <p>This means the components are beneficial in getting users where they need to go, more efficiently.</p>

      <h2>Have you used this component?</h2>
      <p>If so, please share your research findings and let us know how it has worked for you. This will help us improve it for everyone.</p>
      <p>Before you start, you will need a GitHub account. It's an open forum where we collect feedback.</p>

    </div>
  </div>
{% endblock %}
